* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

body {
    background-color: #797979;
}

a {
    text-decoration: none
}

.nav_icon {
    color: #ffffff;
    font-size: 3.25rem
}

.nav_icon:hover {
    color: rgba(255, 255, 255, 0.8)
}

#logo-h1 img {
    display: inline;
    width: 150px;
}
#logo-h1 {
    display: inline;
}

#navbar-superior {
    padding: 30px;
    margin: 0 30px;
}

#nav-intermediaria {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.carousel.slide .carousel-control-prev, .carousel-control-next{
    opacity: 0;
}
.carousel.slide .carousel-control-prev:hover, .carousel.slide .carousel-control-next:hover{
    opacity: 1;
}

#button-form {
    color: #ffffff;
    background-color: transparent;
    border: 5px solid;
    border-radius: 8px;
    font-weight: 700;
    cursor: pointer;
    margin: 5px 0px 20px 15px;
    padding: 5px 10px;
    font-size: 18px;
    color: #000000;
    background-color: #FFD500;
    border-color: #FFD500;
    max-height: 47px;
}


#nav-paragraph {
    margin: 0;
    font-weight: 500;
    color: #ffffff;
    display: flex;
    justify-content: right;
}

#main-content {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 90vh;
}

#button-subscribe-main button, #log-in-buttons button {
    min-width: 320px;
    max-width: 320px;
    color: #ffffff;
    background-color: transparent;
    border: 5px solid;
    padding: 15px 70px;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 800;
    cursor: pointer;
}

#button-subscribe-main button {
    font-size: 25px;
    min-width: 400px;
    max-width: 450px;
    padding: 15px 70px;
    color: #000000;
    background-color: #FFD500;
    border-color: #FFD500;
}

#button-subscribe-main button:hover, #button-form:hover {
    color: #ffffff;
    background: #ecc604;
    border-color: #ecc604;
}

#button-login-vol button {
    border-color: #FFD500;
}
#button-login-vol button:hover {
    background: #FFD500;
    color: #000000;
}

#button-login-inst button, #button-login-vol button, #button-subscribe-main button, #button-form:hover, #button-form a:hover, a.navbar-brand:hover{
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;    
}

#button-form a, #button-login-vol a, #button-login-inst a {
    color: inherit; 
    text-decoration: inherit; 
  }

#button-login-inst button {
    border-color: #FFA60D;
}

#button-login-inst button:hover {
    background: #FFA60D;
    color: #000000;
}


#slogan-main-content {
    font-weight: 900;
    font-size: 40px;
    max-width: 70%;
}

#faua-text {
    color: #FFD500; 
}

#underline-text {
    text-decoration: underline;
}

.line {
    box-sizing: border-box;
    display: inline;
    min-width: 80vh;
    max-height: 2px;
    background-color: #ffffff;
    border-radius: 100px;
    opacity: 30%;
    margin: 30px 0;
}

.btn-primary {
    background-color: #FFD500 !important;
    border-color: #FFD500 !important;
    color: #000000 !important; 
}

.form-check-input:checked {
    background-color: #FFD500 !important;
    border-color: #FFD500 !important;
}

.form-check-input {
    background-color: #C4C4C4 !important;
}

.FormModal form input.form-control, .FormModal form select.form-select {
    background-color: #EEEEEE !important;
}

.FormModal form input.form-control::placeholder {
    color: #C4C4C4 !important;
}

.FormModal form select {
    color: #5e5e5e !important;
}

a.navbar-brand {
    opacity: 50%;
}


a.navbar-brand:hover {
    opacity: 90%;
}

#RSSFirst input {
    background: none;
    opacity: 50%;
}

#RSSFirst input::placeholder, #RSSFirst small {
    color: #EEEEEE !important;
}

#RSSFirst small {
    opacity: 50%;
}

div.is-invalid {
    top: 100%;
    z-index: 5;
    display: inline;
    max-width: 100%;
    padding: 0.25rem 0.5rem;
    margin-top: 0.1rem;
    font-size: 0.875rem;
    color: #fff;
    background-color: rgba(220, 53, 69, 0.9);
    border-radius: 0.25rem;
}

.form-control.is-invalid {
    margin-bottom: 2px;
}

/* index */

.header-index {
    margin-left: 20px;
}

.container-index {
    background-color: #ffffff;
    border-radius: 10px 10px 0 0;
    min-width: 95vh;
    min-height: 100vh;
    padding: 15px;
    -webkit-box-shadow: 4px 5px 5px -4px rgba(0,0,0,0.51); 
    box-shadow: 4px 5px 5px -4px rgba(0,0,0,0.51);
}

.item-content-index {
    font-weight: 600;
    margin: 20px;
    background-color: #FEED98;
    border-radius: 10px;
    max-height: 200px;
    -webkit-box-shadow: 4px 5px 5px -4px rgba(0,0,0,0.51); 
    box-shadow: 4px 5px 5px -4px rgba(0,0,0,0.51);
}

.item-box-title {
    font-weight: 600;
}

img.item-content-image {
    border-radius: 10px 0 0 10px;
    object-fit: cover;
}

span.img > i.check-item {
    display: inline-block;
    background: url('../assets/check-item.svg') no-repeat 0 0;
    height: 42px !important;
    width: 42px !important;
}

.type-item-box {
    margin-bottom: 1.5rem;
    font-weight: 500;
}

.grid-content {
    grid-template-areas:
    "excluir excluir"
    "editar flecha"
    "editar flecha"
    ;
}

:root {
    --blur: 0.56px;
    --spread: -0.4px;
    --horiz: 0.0139598px;
    --vert: 0.399756px;
}

:root {
    --blur: 0.56px;
    --spread: -0.4px;
    --horiz: 0.229431px;
    --vert: 0.327661px;
}

.topicsList {
    width: 466px; 
    background-color:#fafafa; 
    margin: auto;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: calc(clamp(0px, var(--horiz), 2px)) calc(clamp(0px, var(--vert), 2px)) 2px calc(var(--spread)) rgba(0, 0, 0, 0.233), calc(2 * var(--horiz)) calc(2 * var(--vert)) calc(var(--blur)) calc(var(--spread)) rgba(0, 0, 0, 0.20), calc(3 * var(--horiz)) calc(3 * var(--vert)) calc(var(--blur)) calc(var(--spread)) rgba(0, 0, 0, 0.123), calc(5 * var(--horiz)) calc(5 * var(--vert)) calc(var(--blur)) calc(var(--spread)) rgba(0, 0, 0, 0.076), calc(8 * var(--horiz)) calc(8 * var(--vert)) calc(var(--blur)) calc(var(--spread)) rgba(0, 0, 0, 0.047), calc(13 * var(--horiz)) calc(13 * var(--vert)) calc(var(--blur)) calc(var(--spread)) rgba(0, 0, 0, 0.028);
    border: 1px solid rgba(0, 0, 0, 0.068);
}

.ui-state-highlight {
    width: 466px; 
    background-color:#FFD50066; 
    margin: 3px;
    margin-bottom: 2px;
    padding: 2px;
    border-radius: 5px; 
    -webkit-box-shadow: 4px 5px 5px -4px rgba(0,0,0,0.51); 
    box-shadow: 4px 5px 5px -4px rgba(0,0,0,0.51);
}

.ui-sortable-helper {
    width: 466px; 
    background-color:#C4C4C4; 
    margin: auto;
    height: 45px;
    margin-bottom: 2px;
    padding: 2px;
    border-radius: 5px; 
    -webkit-box-shadow: 4px 5px 5px -4px rgba(0,0,0,0.51); 
    box-shadow: 4px 5px 5px -4px rgba(0,0,0,0.51);
}

.highlight {
    opacity: 0.50;
}

.sortable:hover {
    cursor: grab;
}

.item-content-image-info {
    -webkit-box-shadow: 4px 5px 5px -4px rgba(0,0,0,0.51); 
    box-shadow: 4px 5px 5px -4px rgba(0,0,0,0.51);
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.51);
}

.candidate-button {
    font-size: 25px;
    min-width: 300px;
    max-width: 350px;
    padding: 15px 70px;
    color: #000000;
    background-color: #FFD500;
    border-color: #FFD500;
    border-radius: 10px;
    -webkit-box-shadow: 4px 5px 5px -4px rgba(0,0,0,0.51); 
    box-shadow: 4px 5px 5px -4px rgba(0,0,0,0.51);
}

.candidate-button:hover {
    color: #ffffff;
    background: #ecc604;
    border-color: #86720c;
}

.candidate-button {
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;    
}

.title-about {
    font-weight: 500;
}

.button-admin-institute {
    color: #ffffff;
    background-color: transparent;
    border: 5px solid;
    border-radius: 8px;
    font-weight: 700;
    cursor: pointer;
    font-size: 18px;
    background-color: #d34f3d;
    border-color: #d34f3d;
    max-height: 47px;
}

::-moz-selection { /* Code for Firefox */
    color: rgb(255, 255, 255);
    background: #FFD500;
  }
  
  ::selection {
    color: rgb(255, 255, 255);
    background: #FFD500;
  }

